################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clu.nugetserver.web/bin
/clu.nugetserver.web/obj/Debug
/.vs/clu.nugetserver/v15
